/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 31 mar 2023, 13:46:06
    Author     : wadmin
*/

.error{
    color: red;
    display:block;
    
}

input:invalid{
    border: 1px solid red;
}
